
@{
    ViewData["Title"] = "Login";
}
<div id="login">

    <form method="post" asp-controller="Home" asp-action="Index" class="card">

        <div class="card-header">

            <h2> Login</h2>

        </div>

        <div class="card-content">

            <div class="card-content-area">

                <label for="usuario"> Usuário</label>

                <input type="text" id="usuario" autocomplete="off">

            </div>

            <div class="card-content-area">

                <label for="password"> Senha</label>

                <input type="password" id="password" autocomplete="off">

            </div>

        </div>

        <div class="card-footer">

            <input type="submit" value="login" class="submit">

            <a href="#" class="recuperar_senha"> Esqueceu a senha?</a>

        </div>

    </form>

</div>