@model lojaSapato.Models.Venda

<form method="post" asp-action="CadastrarVendas">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Fazer uma compra</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="idModelo.CodigoRef">Qual id do produto</label>
                    </div>

                    <div class="col-8">
                        <input asp-for="idModelo.CodigoRef" class="form-control" />
                        <span asp-validation-for="idModelo.CodigoRef" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Quantidade"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Fazer compra" />
                        </div>
                        <div class="col">
                            <a asp-action="Listar" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
